<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{site.title}}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}public/css/styles.css">
</head>
<body>
	
	<div class="holder">
		<img class="holding" src="public/images/web-vr-emoji.png" alt="">
	</div>

	{{content}}
	
</body>
</html>